@using Kryptos.Web.Client.Services.Encryption
@using Kryptos.Web.Client.Services.Steganography
<div class="col-start-1 @(SentMessage ? "col-end-13" : "col-end-8") p-3 rounded-lg">
    <div class="flex @(SentMessage ? "items-center justify-start flex-row-reverse" : "flex-row items-center")">
        <div class="flex items-center justify-center h-10 w-10 rounded-full flex-shrink-0 
             @(SentMessage ? "bg-teal-500" : "bg-lime-500")">
        </div>
        <div class="relative text-sm py-2 px-4 shadow rounded-xl @(SentMessage ? "mr-3 bg-indigo-100" : "ml-3 bg-white")">
            <div class="font-bold">@Name</div>
            <div>@Message</div>
            <span class="font-medium text-sm text-gray-500 mb-3 dark:text-gray-400">@Time.ToString("ddd, MMM d, yyyy, hh:mm tt")</span>

            <div class="flex flex-row justify-between">
                <button @onclick="ShowMessage"
                        title="Click to show secret message. It requires a key to be set."
                        class="p-1 transition-colors duration-200 transform rounded-md hover:bg-opacity-25 hover:bg-gray-600 focus:outline-none">
                    @if (_viewSecret)
                    {
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21" />
                        </svg>
                    }
                    else
                    {
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                        </svg>
                    }
                </button>
                
                <div class="dark:text-gray-600">
                    @if (_secret != null)
                    {
                        @_secret
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@code
{
    [Inject] private IStreamCipherService StreamCipherService { get; set; }
    [Inject] private ISteganographyService SteganographyService { get; set; }
    
    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Message { get; set; }

    [Parameter]
    public DateTime Time { get; set; }

    [Parameter]
    public bool SentMessage { get; set; }

    private bool _viewSecret = false;
    private string? _secret;
    
    [Parameter]
    public string? Key { get; set; }

    private void ShowMessage()
    {
        if (_viewSecret == false && Key is not null)
        {
            string encryptedMessage = SteganographyService.Reveal(Message);
            _secret = StreamCipherService.Decrypt(Key, encryptedMessage);

            _viewSecret = true;
        }
        else
        {
            _secret = null;
            _viewSecret = false;
        }
    }
}